* {
  box-sizing: border-box;
}
body {
  font-family: montserrat, sans-serif;
}
#left-sec {
  width: 40%;
}
#left-sec img {
  width: 100%;
  margin-top: 50px;
}
section {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}
h1 {
  font-size: 44px;
  font-weight: 400;
  letter-spacing: -2px;
  margin: 0px;
}
.product-details {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
}
span {
  color: #009688;
  font-weight: 600;
  margin-left: 5px;
}
#details {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #86939e;
}
#add-to-cart {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  padding: 10px 20px;
  letter-spacing: 2px;
  background-color: #009688;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
}
#add-to-cart:hover {
  box-shadow: 0 2px 10px rgb(0 0 0 / 75%);
}
#right-sec {
  width: 60%;
  margin-top: 40px;
  padding-left: 30px;
}
#select-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 20px;
  margin-bottom: 40px;
}
#select-img img {
  margin: 5px;
  width: 15%;
  height: 30%;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;
}
.border-color {
  border: 2px solid #009688;
}
